name: Central CI Framework

on:
  repository_dispatch:
    types: [student_pr]

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  validate:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

    steps:
      - name: Checkout Student Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.client_payload.repo }}
          ref: ${{ github.event.client_payload.ref }}
          token: ${{ secrets.FRAMEWORK_PAT }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          if [ -f ci/requirements.txt ]; then pip install -r ci/requirements.txt; fi

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=${{ github.event.client_payload.tf_dir }} init

      - name: Terraform Plan
        run: |
          cd ${{ github.event.client_payload.tf_dir }}
          terraform plan -out=tfplan